# Target build directory (compiled Java code)
target/

# Local SQLite Database files
*.db
*.db-journal

# IntelliJ IDEA IDE files
.idea/
*.iml

# Eclipse IDE files
.classpath
.project
.settings/

# NetBeans IDE files
nbproject/
build/
nbbuild/
dist/
nb-configuration.xml

# Log files
*.log

# OS-specific system files
.DS_Store
Thumbs.db
